.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
  
.price {
    color: grey;
    font-size: 22px;
}
  
.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
.card a{
    text-decoration: none;
}  
.card button:hover {
    opacity: 0.7;
}
.card3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.card3 button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 15%;
  font-size: 18px;
}
.card3 .btn {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.navbar {
    width: 100%;
    height: 50px;
    background-color: #555;
    overflow: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
  
.navbar a {
    float: right;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover,.btn:hover {
    background-color: #000;
}
.btn {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:#555;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}
.btn a{
  text-decoration: none;
  color: white;
}
@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
}
.login{  
    height: 140px;
    width: 310px;  
    overflow: hidden;  
    margin: auto;    
    padding: 80px;  
    background: #d70858;  
    border-radius: 15px ;  
      
}
.index {
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: black;
    display: block;
}  
h2{  
text-align: center;  
color: black;  
padding: 20px;  
}    
input[type=text]{  
width: 300px;  
height: 30px;  
border: none;  
border-radius: 3px;  
padding-left: 8px;  
}  
.log{  
margin-top: 10px;
width: 100px;  
height: 30px;
margin-left: 100px;
border: none;  
border-radius: 17px;  
padding-left: 7px;  
color: black;
display: block;
} 
.hide{  
    display: none;
}
.pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
    display: block;
    }
.logn{  
    width: 100px;  
    height: 30px;
    margin-left: 100px;
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: black;
    display: block;
}
.sign{  
    width: 225px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 40px;  
    color: black;
    display: block;
    text-align: center;
    margin-top: 15px;
}
.signup{  
    height: 450px;
    width: 310px;  
    overflow: hidden;  
    margin: auto;    
    padding: 80px;  
    background: #d70858;  
    border-radius: 15px ;  
      
}
.signup input{  
    margin-top: 30px;
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}
#preveliage{
    margin-top: 30px;
    width: 100px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}
.signup button{
    width: 100px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: black;
    margin-top: 60px;
    margin-left: 100px;
}
.sign a{
    text-decoration: none;
}
.container{

    height: 1000px;
    width: 100%;
    margin-top: 100px;
}
.card2 {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 550px;
    height: 700px;
    margin: auto;
    text-align: center;
    font-family: arial;
    overflow: hidden
}
.card2 input[type=text],input[type=date]{
    border: 2px solid #000;
    height: 25px;
}
.card2 textarea{
    height: 210px;
    width: 460px;
}
.card2 div{
    padding: 20px;
}
  body{
  background: #ffffff;
  background: linear-gradient(to bottom, #ffffff 0%,#e1e8ed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e8ed',GradientType=0 );
      height: 100%;
          margin: 0;
          background-repeat: no-repeat;
          background-attachment: fixed;
    
  }
  
  .wrapper-1{
    width:100%;
    height:100vh;
    display: flex;
  flex-direction: column;
  }
  .wrapper-2{
    padding :30px;
    text-align:center;
  }
.content h1{
      font-family: 'Kaushan Script', cursive;
    font-size:4em;
    letter-spacing:3px;
    color:#5892FF ;
    margin:0;
    margin-bottom:20px;
  }
  .wrapper-2 p{
    margin:0;
    font-size:1.3em;
    color:#aaa;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing:1px;
  }
  .go-home{
    color:#fff;
    background:#5892FF;
    border:none;
    padding:10px 50px;
    margin:30px 0;
    border-radius:30px;
    text-transform:capitalize;
    box-shadow: 0 10px 16px 1px rgba(174, 199, 251, 1);
  }
  .footer-like{
    margin-top: auto; 
    background:#D7E6FE;
    padding:6px;
    text-align:center;
  }
  .footer-like p{
    margin:0;
    padding:4px;
    color:#5892FF;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing:1px;
  }
  .footer-like p a{
    text-decoration:none;
    color:#5892FF;
    font-weight:600;
  }
  
  @media (min-width:360px){
    .content h1{
      font-size:4.5em;
    }
    .go-home{
      margin-bottom:20px;
    }
  }
  
  @media (min-width:600px){
    .content{
    max-width:1000px;
    margin:0 auto;
  }
    .wrapper-1{
    height: initial;
    max-width:620px;
    margin:0 auto;
    margin-top:50px;
    box-shadow: 4px 8px 40px 8px rgba(88, 146, 255, 0.2);
  }
    
  }
.input input{
  padding: 4px;
  margin: 10px;
}